@import '../../../assets/styles/global-variable';

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: $z-index-header;
  position: sticky;
  top: 0;
  padding: 16px 28px;
  box-shadow: $shadow-50;
  background-color: $gray-1;
}
