$dimensions: (t: top, r: right, b: bottom, l: left, x: x, y: y, a: all);
$types: (m: margin, p: padding, w: width, h: height);
$list: 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30;

@each $shortType, $fullType in $types {
  @each $shortDimension, $fullDimension in $dimensions {
    @each $value in $list {
      .#{$shortType}#{$shortDimension}-#{$value} {
        @if $shortDimension == x {
          #{$fullType}-left: #{$value * 4}px !important;
          #{$fullType}-right: #{$value * 4}px !important;
        } @else if $shortDimension == y {
          #{$fullType}-top: #{$value * 4}px !important;
          #{$fullType}-bottom: #{$value * 4}px !important;
        } @else if $shortDimension == a {
          #{$fullType}: #{$value * 4}px !important;
        } @else {
          #{$fullType}-#{$fullDimension}: #{$value * 4}px !important;
        }
      }
    }
  }
}
